@charset "UTF-8";
/* CSS Document */
*{margin: 0; padding: 0}
@font-face{
	src:url("../font/MyriadPro-Light.otf");
	font-family:Myriad Pro ;
    src:url("../Font/KaushanScript-Regular.ttf");
    font-family: Kaushan;
    
}
html {
  scroll-behavior: smooth;
}


body{
	background:#F0ECE2;
    cursor: url("../IMG/zip_session_13456063e3110fedc57f8417ad8d8bad/icons8-cursor-64.cur"), auto;
}

.container{
	width: 1280px;
	height: 3250px;
	margin: 0 auto;
	scroll-behavior: smooth;
	overflow: visible;
}

.layout1{
	width: 1280px;
	height: 670px;
	margin: 0 auto;
}

.topbar{
	width: 1280px;
	height: 70px;
	position: fixed;
    top: 0;
	background: #DC7555;
	opacity: 2;
	flow-from: inherit
}


.logo{
	height: 40px;
	float: left;
	margin-left: 50px;
    margin-top: -35px;
}

.logo img{
    margin: 30px;
	width: 150px;
	height: 70px;
}
.logo:hover img{
	transform: scale(1.3);
	transition: all 0.5s ease;
}

.menu{
	width: 400PX;;
	height: 90px;
	float: right;
	line-height: 65px;
	font-size: 15px;
	font-family: Myriad Pro;
	margin-right: -50px;
	text-align: center;
}

.menu ul{
	list-style: none;	
}

.menu ul li {
	width: 80px;
	height: 30px;
	float: left;
	color: white;
	position: relative;	
	margin-top: 15px;
}

.menu ul li a{
	color: white;
	text-decoration: none;
}
.menu ul li:hover {
	transition: all 0.3s ease;
	text-decoration: underline;
	font-size: 15px;
}

.text{
	width: 330px;
	height: 190px;
	color: #3F3D3D;
	animation: fade-in 1.5s ease, slide-in 1.2s ease;
  -webkit-animation: fade-in 1.5s ease, slide-in 1.2s ease;
}
.text #let{
	font-size: 50px;
	font-family: Kaushan;
	font-style: italic;
	margin-left: 100px;
	margin-top: 150px;
	float: left;
    animation: let 1.5s ease;
}

.text h1{
	height: 100px;
	width: 200px;
	font-size: 150px;
	font-family: impact;
    text-shadow: 2px 2px 10px yellow;
	color: #ED5B2E;
	margin-left: 150px;
	margin-top: -10px;
	float: left;
    animation: trudie 1.5s ease-in-out forwards; 
}
#being{
	font-size: 30px;
	font-family: Kaushan;
	font-style: italic;
	margin-left: 320px;
	margin-top:30px;
	float: left;
}

#line{
	width: 100px;
	margin-top: 180px;
	margin-right: -190px;
	float: left;
}
#creative{
	font-size: 30px;
	font-family: Myriad Pro;
	font-style: italic;
	margin-left: 395px;
	margin-top: -38px;
	float: left;
	color: #ED5B2E;
	animation: fade-in 1.5s ease, slide-in 1.2s ease;
  -webkit-animation: fade-in 1.5s ease, slide-in 1.2s ease;
}
.trudie img{
    margin-top: 0px;
    margin-left: 200px;
	width: 400px;
	height: 350px;
    background: black;
}
.girl img{
    width: 135px;
    margin-top: -250px;
    margin-left: 150px; 
    position: relative; 
    animation: around  5s linear 2s infinite alternate;
}

.layout1:hover .text{
	
}

.skill{
	width: 1280px;
	height: 400px;
	background-color: white;
	margin-top: -30px;
	font-size: 14px;
}

.outer{
	width: 1000px;
	height: 135px;
	margin: 0 auto;
	margin-top: 30px;
	
}

.circle{
	float: left;
	align-items: center;
	margin-left: 130px;
	margin-top: 130px;
	animation: slideIn 1.3s ;
}
.circle img{
    width:94px;
    height:94px;
    animation: percent 2s infinite linear;
}
.circle:hover {
	transform: scale(1.1);
	transition: all 0.2s ease;
}

.outertext{
	width: 1000px;
	height: 50px;
}

.outer .outertext ul{
	list-style: none;
	float: left;
	animation: slideIn 1.3s ease-in-out forwards;
}


.outer .outertext ul li{ 
	float: left;
	margin-top: 17px;
    transition-duration: 0.01s;
}

.outer .outertext ul li a{
	color: #080809;
	text-decoration: none;
	font-family:Myriad Pro;
	margin-left: 135px;
}
#illus{
    margin-left: 170px
}
#pts{
	margin-left: 160px;
}

#ptr{
	margin-left: 150px;
}

#uiux{
	margin-left: 140px;
}

.outer ul li:hover{
	transform: rotate(-5deg) scale(1.1);
}

.profile{
	width: 1280px;
	height: 920px;
	background-color: #080809;
	margin-top: -65px;
	
}

.myprofile{
	width: 100%;
	height: 150px;
	animation: slideIn 1.5s ease-in-out forwards;
}

.myprofile img{
	margin-top: 66px;
	margin-left: 195px;
	animation: slideIn 1.5s ease-in-out forwards;
}

.myprofile:hover img{
	transform: scale(1.1);
	transition: all 0.2s ease;
}

.big_outer{
	width: 945px;
	height: 700px;
	margin: 0 auto;
	font-family: Myriad Pro;

}

.outer1{
	width: 945px;
	height: 200px;
}

.outer2{
	width: 945px;
	height: 200px;
	margin-top: 28px;
}


.outer3{
	width: 945px;
	height: 200px;
	margin-top: 28px;
}

.img_pf{
	float: left;
	margin-left: 28px;
	animation: slideIn 1.2s;
}

.img_pf:hover{
	transform: scale(2);
	transition: all 0.2s ease;
}

.overlay {
  position: absolute; 
  bottom: 4px; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 71%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 15px;
  padding: 15px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}


.footer{
	width: 1280px;
	height: 210px;
	background-color: #080809;
}

.footerbar{
	width: 1280px;
	height: 110px;
}

.logo_footer{
	width: 200px;
	height: 50px;
	margin-left: 100px;
	margin: 0 auto;
}

.logo_footer img{
    margin: 20px;
	width: 150px;
	height: 60px;
}
.logo_footer:hover img{
	transform: scale(1.1);
	transition: all 0.3s ease;
}

.menu_footer{
	width: 500PX;;
	height: 40px;
	float: left;
	line-height: 65px;
	font-size: 14px;
	font-family: Myriad Pro;
	text-align: center;
	margin-left: 460px;
}

.menu_footer ul{
	list-style: none;
	
}

.menu_footer ul li {
	width: 80px;
	height: 30px;
	float: left;
	color: white;
}

.menu_footer ul li a{
	color: white;
	text-decoration: none;
	
}
.menu_footer ul li:hover {
	transition: all 0.2s ease;
	text-decoration: underline;
	font-size: 18px;
}

.footer_content{
	width: 100%;
	height: 100px;
}


.contact_me{
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 34px;
	margin-top: 30px;

}

.contact_me img{
	height: 100%;
	float: left;
	margin-left: 400px;
}

.contact_me img:hover{
	transform: scale(1.2);
	transition: all 0.4s ease;
}
.way{
	width: 1280px;
	height: 600px;
	background-color: #080809;
}

.container3 {
  display: flex;
  height: 100%;
  align-items: center;
  color: white;
  animation: expand .8s ease forwards;
  position: relative;
  font-family: Myriad Pro;
  transition: all .8s ease;
}

.content {
 width: 50%;
}

.container_content_inner {
  width: 80%;
  margin-left: 80px;
}

.container_outer_img {
  margin: 50px;
  width: 50%;
  overflow: hidden;
}   
    
.container_img {
  width: 60%;
  animation: slideIn 1.5s ease-in-out forwards;
  margin-left: 200px;
}

.container3:hover .container_outer_img{
	transform: scale(1.5);
	transition: all 0.6s ease;
}

.container3:hover .content{
	transform: scale(1.5);
	transition: all 0.6s ease;
}
.par {
  height: auto;
  overflow: hidden;
}

.content_text{
  line-height: 28px;
  transform: translateY(300px);
  animation: slideUp .8s ease-in-out forwards .8s;
}


.title {
  overflow: hidden;
  height: auto;
  margin-left: -30px;
}

.design {
    font-size: 40px;
	font-family: Myriad Pro;
    transform: translateY(100px);
    animation: slideUp .8s ease forwards .5s;
	margin-right: 100px;
}

.container3:hover .content .title{
	text-shadow: 3px  3px 2px #ED5B2E;
}
.design2 {
    font-size: 40px;
	font-family: Myriad Pro;
    transform: translateY(100px);
    animation: slideUp .8s ease forwards .5s;
	margin-right: 100px;
}
@keyframes let {
    0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
@keyframes trudie {
    0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes around {
   0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:200px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;}
}
@keyframes percent{
    0%{ 
    transform: rotate(-40deg) }
    50%{ 
    transform: rotate(40deg) }
    100%{ 
    transform: rotate(-40deg) }
}
@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

.aboutme{
	width: 1280px;
	height: 500px;
	background-color: white;
}

.container1 {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
  font-family: impact;
}

.content1 {
 width: 50%;
}

.container_content_inner1 {
  width: 50%;
  margin-left: 150px;
  margin-top: 150px;
}

.container_outer_img1 {
  margin-top: 90px;
  width: 40%;
  overflow: hidden;
}   
    
.container_img1 {
  width: 80%;
 
  animation: slideIn 1.5s ease-in-out forwards;
}

.par1 {
  width: 400px;
    height: 200px;
  overflow: hidden;
}

.par_text{
  line-height: 22px;
  font-family: Myriad Pro;
 font-style: bold;  
  font-size: 14px;
  transform: translateY(300px);
  animation: slideUp .8s ease-in-out forwards .8s;
}


.title1 {
  overflow: hidden;
  height: auto;
}

.design1 {
    font-size: 45px;
	font-family: impact;
    margin-bottom: 20px;
    transform: translateY(100px);
    animation: slideUp .8s ease forwards .5s;
}

.design_me {
	margin-top: -75px;
	margin-left: 130px;
    font-size: 45px;
	color: #ED5B2E;
	font-family: impact;
    margin-bottom: 20px;
    transform: translateY(100px);
    animation: slideUp .8s ease forwards .5s;
	float: left;
}

.aboutme:hover .container1{
	transform: scale(1.1);
	transition: all 0.6s ease;
}  


